<main>
    
    <h1>Hola bienvenidos al chat</h1>

    <div>
        <input type="text" name="chatBox" id="chatBox">
    </div>

    <div>
        <ul id="messageLog"></ul>
    </div>



</main>


<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "></script>
<script src="/socket.io/socket.io.js"></script>

{{!-- lo siguiente no se debe hacer --}}

<script>
    const socket = io();

    let user
    
    //Swal.fire({
    //    title: 'Hola Coders',
    //    text: "Alerta basica con SweetAlert",
    //    icon: 'success'
    //})

    Swal.fire({
        title: 'Identificate',
        input: 'text',
        text:  'Ingresa tu usuario para identificarte en el chat',
        inputValidator: value => {
            return !value && 'Necesitas escribir tu usuario'
        },
        allowOutsideClick: false
    })
    .then(result => {
        user = result.value
        console.log(user)
    })

    //input del chat
    let chatBox = document.querySelector('#chatBox')

    chatBox.addEventListener('keyup', evt => {
        if(evt.key === 'Enter'){
            if(chatBox.value.trim().length > 0){
                socket.emit('message', {user, message: chatBox.value})
                chatBox.value = ''
            }
        }
    })

    socket.on('messageLogs', data => {
        //console.log('Mensajes del server',data) ya está llegando bien

        let log = document.getElementById('messageLog')

        let messages = ''
        data.forEach(message => {
            messages  += `<li>${message.user} - dice: ${message.message}</li> <br>`
        })

        log.innerHTML = messages

    })

</script>